# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = nav_detail_book_multiple_page.settings

[deploy]
#url = http://localhost:6800/
project = nav_detail_book_multiple_page
